                        EDA on the Spotify dataset, especially in Indonesia

This is a personal project created to find out about music in Indonesia,
I'm just curious what kind of songs are played the most in Indonesia based on genre, etc. 

in this part i try to :
   - explore several features such as snapshot_date, daily_rank, popularity, is_explicit, danceability, energy, acousticness, valence, songs(name), artists
   
   - Change column data type
   - change column name
   - take some information from descriptive statistics
   - Check for duplicate data and null values
   - Number of songs containing explicit words
   - check the daily_rank column
   
   - explore songs that are at daily_rank = 1
   - Explore songs that are in the popularity 100
   - correlation between the features
   - Genre: danceability, energy and valence while in Indonesia

# LOAD THE DATASET

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

pd.set_option('display.max_columns', None)

In [15]:
df_spotify = pd.read_csv('C:/Users/ASUS/Downloads/top_spotify_songs.csv')
df_spotify

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2KslE17cAJNHTsI2MI0jb2,Standing Next to You,Jung Kook,1,0,0,VN,2024-04-23,92,False,206019,GOLDEN,2023-11-03,0.711,0.809,2,-4.389,0,0.0955,0.0447,0.000000,0.3390,0.816,106.017,4
1,2OzhQlSqBEmt7hmkYxfT6m,Fortnight (feat. Post Malone),"Taylor Swift, Post Malone",2,0,48,VN,2024-04-23,88,False,228965,THE TORTURED POETS DEPARTMENT,2024-04-18,0.675,0.397,11,-10.895,1,0.0245,0.4990,0.000006,0.0939,0.319,95.988,4
2,2HRgqmZQC0MC7GeNuDIXHN,Seven (feat. Latto) (Explicit Ver.),"Jung Kook, Latto",3,1,-1,VN,2024-04-23,87,True,183550,GOLDEN,2023-11-03,0.790,0.831,11,-4.185,1,0.0440,0.3120,0.000000,0.0797,0.872,124.987,4
3,2xOhv7XudrBDtkID1jwsFE,Từng Là,Vũ Cát Tường,4,-1,0,VN,2024-04-23,71,False,252500,Từng Là,2024-03-01,0.808,0.414,5,-10.950,1,0.0380,0.8640,0.000118,0.1740,0.609,115.041,4
4,3qhYidu0cemx1v9PgTtpS5,Chúng Ta Của Tương Lai,Sơn Tùng M-TP,5,0,-2,VN,2024-04-23,73,False,249871,Chúng Ta Của Tương Lai,2024-03-08,0.694,0.556,0,-7.097,1,0.0805,0.7870,0.006880,0.1150,0.485,145.954,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676948,0AYt6NMyyLd0rLuvr0UkMH,Slime You Out (feat. SZA),"Drake, SZA",46,4,0,AE,2023-10-18,84,True,310490,For All The Dogs,2023-10-06,0.483,0.408,5,-9.243,0,0.0502,0.5080,0.000000,0.2590,0.105,88.880,3
676949,2Gk6fi0dqt91NKvlzGsmm7,SAY MY GRACE (feat. Travis Scott),"Offset, Travis Scott",47,3,0,AE,2023-10-18,80,True,173253,SET IT OFF,2023-10-13,0.773,0.635,10,-5.060,1,0.0452,0.0585,0.000000,0.1320,0.476,121.879,4
676950,26b3oVLrRUaaybJulow9kz,People,Libianca,48,2,0,AE,2023-10-18,88,False,184791,People,2022-12-06,0.573,0.422,10,-7.621,0,0.0678,0.5510,0.000013,0.1020,0.693,124.357,5
676951,5ydjxBSUIDn26MFzU3asP4,Rainy Days,V,49,1,0,AE,2023-10-18,88,False,179560,Layover,2023-08-11,0.633,0.454,9,-8.016,0,0.0875,0.7390,0.000000,0.1480,0.282,74.828,4
676952,59NraMJsLaMCVtwXTSia8i,Prada,"cassö, RAYE, D-Block Europe",50,0,0,AE,2023-10-18,94,True,132359,Prada,2023-08-11,0.638,0.717,8,-5.804,1,0.0375,0.0010,0.000002,0.1130,0.422,141.904,4

In [17]:
df_id = df_spotify[df_spotify['country']=='ID']
df_id

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1200,6EIMUjQ7Q8Zr2VtIUik4He,drunk text,Henry Moodie,1,0,0,ID,2024-04-23,86,False,187263,in all of my lonely nights,2024-01-26,0.614,0.493,0,-5.356,1,0.0314,0.0676,0.000000,0.1130,0.176,94.784,3
1201,51ZQ1vr10ffzbwIjDCwqm4,we can't be friends (wait for your love),Ariana Grande,2,1,1,ID,2024-04-23,96,False,228639,eternal sunshine,2024-03-08,0.645,0.663,5,-8.305,1,0.0447,0.0657,0.000032,0.0751,0.287,115.830,4
1202,3qhlB30KknSejmIvZZLjOD,End of Beginning,Djo,3,-1,-1,ID,2024-04-23,99,False,159245,DECIDE,2022-09-16,0.689,0.454,2,-7.643,1,0.0584,0.0351,0.002590,0.0707,0.912,159.982,4
1203,6XKEElbr3cWmnUw6a5HRBV,Mati-Matian,Mahalini,4,0,1,ID,2024-04-23,78,False,244137,Mati-Matian,2024-03-29,0.440,0.389,5,-6.412,1,0.0368,0.7950,0.000019,0.1490,0.176,116.839,4
1204,6L1jkVbb331DNvK89C3L8u,Masih Hatiku,"Arsy Widianto, Tiara Andini",5,2,2,ID,2024-04-23,79,False,262341,Masih Hatiku,2024-02-22,0.596,0.466,9,-8.341,1,0.0309,0.8170,0.000002,0.1450,0.355,136.191,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675448,3hUxzQpSfdDqwM3ZTFQY0K,august,Taylor Swift,46,4,0,ID,2023-10-18,92,False,261922,folklore,2020-07-24,0.532,0.623,5,-9.208,1,0.0331,0.5380,0.000073,0.0925,0.403,89.937,4
675449,1USA6DXJ1qsucoKnDu4vnu,Tak Kan Hilang,Budi Doremi,47,3,0,ID,2023-10-18,79,False,241714,Tak Kan Hilang,2022-02-25,0.527,0.258,4,-9.499,1,0.0319,0.8210,0.000172,0.1480,0.347,139.928,4
675450,0DVCvSb8PhHchIP23JOP9q,Tertawan Hati,Awdella,48,2,0,ID,2023-10-18,75,False,237863,Tertawan Hati,2022-07-01,0.318,0.431,6,-5.831,1,0.0319,0.6630,0.000000,0.1080,0.249,128.658,4
675451,5IhULiOyG58jL20qWkztEg,Dumes,"OMWAWES, Guyon Waton",49,1,0,ID,2023-10-18,75,False,266666,Dumes,2023-06-30,0.565,0.687,7,-8.545,1,0.0285,0.0386,0.000009,0.0718,0.595,134.998,4
675452,5LrN7yUQAzvthd4QujgPFr,Here With Me,d4vd,50,0,0,ID,2023-10-18,90,False,242484,Petals to Thorns,2023-05-26,0.571,0.458,4,-9.283,1,0.0258,0.5440,0.000093,0.1230,0.299,132.025,4

## Change the column data type
column type snapshot_date and album_release_date should be type datetime64[ns]

In [18]:
df_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9356 entries, 1200 to 675452
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   spotify_id          9356 non-null   object
 1   name                9356 non-null   object
 2   artists             9356 non-null   object
 3   daily_rank          9356 non-null   int64
 4   daily_movement      9356 non-null   int64
 5   weekly_movement     9356 non-null   int64
 6   country             9356 non-null   object
 7   snapshot_date       9356 non-null   object
 8   popularity          9356 non-null   int64
 9   is_explicit         9356 non-null   bool
 10  duration_ms         9356 non-null   int64
 11  album_name          9356 non-null   object
 12  album_release_date  9356 non-null   object
 13  danceability        9356 non-null   float64
 14  energy              9356 non-null   float64
 15  key                 9356 non-null   int64
 16  loudness            9356 non-null   float64
 17  mode                9356 non-null   int64
 18  speechiness         9356 non-null   float64
 19  acousticness        9356 non-null   float64
 20  instrumentalness    9356 non-null   float64
 21  liveness            9356 non-null   float64
 22  valence             9356 non-null   float64
 23  tempo               9356 non-null   float64
 24  time_signature      9356 non-null   int64
dtypes: bool(1), float64(9), int64(8), object(7)
memory usage: 1.8+ MB

In [19]:
print('column types snapshot_date and album_release_date are now of type datetime64[ns]\n')

df_id.loc[:,'snapshot_date'] = pd.to_datetime(df_id.loc[:,'snapshot_date'])
df_id.loc[:,'album_release_date'] = pd.to_datetime(df_id.loc[:,'album_release_date'])
df_id.info()

column types snapshot_date and album_release_date are now of type datetime64[ns]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9356 entries, 1200 to 675452
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   spotify_id          9356 non-null   object
 1   name                9356 non-null   object
 2   artists             9356 non-null   object
 3   daily_rank          9356 non-null   int64
 4   daily_movement      9356 non-null   int64
 5   weekly_movement     9356 non-null   int64
 6   country             9356 non-null   object
 7   snapshot_date       9356 non-null   datetime64[ns]
 8   popularity          9356 non-null   int64
 9   is_explicit         9356 non-null   bool
 10  duration_ms         9356 non-null   int64
 11  album_name          9356 non-null   object
 12  album_release_date  9356 non-null   datetime64[ns]
 13  danceability        9356 non-null   float64
 14  energy              9356 non-null   float64
 15  key                 9356 non-null   int64
 16  loudness            9356 non-null   float64
 17  mode                9356 non-null   int64
 18  speechiness         9356 non-null   float64
 19  acousticness        9356 non-null   float64
 20  instrumentalness    9356 non-null   float64
 21  liveness            9356 non-null   float64
 22  valence             9356 non-null   float64
 23  tempo               9356 non-null   float64
 24  time_signature      9356 non-null   int64
dtypes: bool(1), datetime64[ns](2), float64(9), int64(8), object(5)
memory usage: 1.8+ MB

# Change column name
The Name column is a column that contains a collection of songs being played. To make it easier to recognize this column, the column has been renamed the Songs column.

In [20]:
df_id.rename(columns={'name' : 'Songs'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

# Some information from descriptive statistics
- Data collection starts from 2023-10-18 to 2024-04-23
- The number of days calculated from 2023-10-18 to 2024-04-23 is 187 days
- The song Duka by Nadin Amizah appears the most in the dataset
- There are 106 songs from 85 artists
- in the data set the mean value of each genre, the rotated average:
    - Danceability = 0.528116	
    - Energy = 0.512441
    - Valnece = 0.385457
    - Acousticness = 0.516563

In [21]:
df_id.describe(include='all')

<ipython-input-21-49f1477aa211>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_id.describe(include='all')
<ipython-input-21-49f1477aa211>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_id.describe(include='all')

,spotify_id,Songs,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,duration_ms,album_name,album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,9356,9356,9356,9356.000000,9356.000000,9356.000000,9356,9356,9356.000000,9356,9356.000000,9356,9356,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000
unique,117,106,85,NaN,NaN,NaN,1,187,NaN,2,NaN,102,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,3e1rs346dsDDwpqTRGlRZR,Rewrite The Stars (with James Arthur & Anne-Ma...,Nadin Amizah,NaN,NaN,NaN,ID,2024-03-18 00:00:00,NaN,False,NaN,Menari Dengan Bayangan,2019-11-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,187,187,413,NaN,NaN,NaN,9356,52,NaN,9084,NaN,308,308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-18 00:00:00,NaN,NaN,NaN,NaN,1983-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-23 00:00:00,NaN,NaN,NaN,NaN,2024-04-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,25.486853,0.485036,1.617251,NaN,NaN,81.524583,NaN,236394.865648,NaN,NaN,0.528116,0.512441,4.840530,-7.768516,0.890552,0.041801,0.516563,0.020936,0.148574,0.385457,121.697536,3.869923
std,NaN,NaN,NaN,14.430872,4.960376,9.383215,NaN,NaN,7.168964,NaN,44820.806317,NaN,NaN,0.109924,0.186276,3.385701,2.510304,0.312218,0.037292,0.330402,0.095366,0.100468,0.176120,29.808638,0.381941
min,NaN,NaN,NaN,1.000000,-29.000000,-32.000000,NaN,NaN,0.000000,NaN,92400.000000,NaN,NaN,0.252000,0.131000,0.000000,-14.958000,0.000000,0.024500,0.000045,0.000000,0.047300,0.100000,67.528000,1.000000
25%,NaN,NaN,NaN,13.000000,-1.000000,-3.000000,NaN,NaN,78.000000,NaN,209647.000000,NaN,NaN,0.461000,0.360000,2.000000,-8.990000,1.000000,0.028500,0.166000,0.000000,0.100000,0.249000,97.377000,4.000000
50%,NaN,NaN,NaN,25.000000,0.000000,0.000000,NaN,NaN,80.000000,NaN,232440.000000,NaN,NaN,0.532000,0.462000,5.000000,-7.316000,1.000000,0.031800,0.609000,0.000007,0.109000,0.374000,120.010000,4.000000
75%,NaN,NaN,NaN,38.000000,1.000000,3.000000,NaN,NaN,84.000000,NaN,268422.000000,NaN,NaN,0.605000,0.681000,7.000000,-5.952000,1.000000,0.036800,0.842000,0.000291,0.162000,0.494000,135.874000,4.000000
max,NaN,NaN,NaN,50.000000,49.000000,49.000000,NaN,NaN,100.000000,NaN,325147.000000,NaN,NaN,0.853000,0.966000,11.000000,-2.958000,1.000000,0.276000,0.969000,0.692000,0.641000,0.964000,199.811000,4.000000

## Check for duplicate data and null values

In [22]:
if df_id.duplicated().values.any():
    print("The dataset has duplicate entries.")
else:
    print('No duplicate entries in the dataframe.')

No duplicate entries in the dataframe.

In [23]:
[features for features in df_id.columns if df_id[features].isnull().sum()>0]

[]

no column is null

## There are 2 days/dates that were not recorded during data scraping, namely:
 - 2024-03-17
 - 2024-03-15

In [24]:
# there are several dates that are not included in the snapshot_date column
df_id['snapshot_date'].unique()

array(['2024-04-23T00:00:00.000000000', '2024-04-22T00:00:00.000000000',
       '2024-04-21T00:00:00.000000000', '2024-04-20T00:00:00.000000000',
       '2024-04-19T00:00:00.000000000', '2024-04-18T00:00:00.000000000',
       '2024-04-17T00:00:00.000000000', '2024-04-16T00:00:00.000000000',
       '2024-04-15T00:00:00.000000000', '2024-04-14T00:00:00.000000000',
       '2024-04-13T00:00:00.000000000', '2024-04-12T00:00:00.000000000',
       '2024-04-11T00:00:00.000000000', '2024-04-10T00:00:00.000000000',
       '2024-04-09T00:00:00.000000000', '2024-04-08T00:00:00.000000000',
       '2024-04-07T00:00:00.000000000', '2024-04-06T00:00:00.000000000',
       '2024-04-05T00:00:00.000000000', '2024-04-04T00:00:00.000000000',
       '2024-04-03T00:00:00.000000000', '2024-04-02T00:00:00.000000000',
       '2024-04-01T00:00:00.000000000', '2024-03-31T00:00:00.000000000',
       '2024-03-30T00:00:00.000000000', '2024-03-29T00:00:00.000000000',
       '2024-03-28T00:00:00.000000000', '2024-03-27T00:00:00.000000000',
       '2024-03-26T00:00:00.000000000', '2024-03-25T00:00:00.000000000',
       '2024-03-24T00:00:00.000000000', '2024-03-23T00:00:00.000000000',
       '2024-03-22T00:00:00.000000000', '2024-03-21T00:00:00.000000000',
       '2024-03-20T00:00:00.000000000', '2024-03-19T00:00:00.000000000',
       '2024-03-18T00:00:00.000000000', '2024-03-16T00:00:00.000000000',
       '2024-03-14T00:00:00.000000000', '2024-03-13T00:00:00.000000000',
       '2024-03-12T00:00:00.000000000', '2024-03-11T00:00:00.000000000',
       '2024-03-10T00:00:00.000000000', '2024-03-09T00:00:00.000000000',
       '2024-03-08T00:00:00.000000000', '2024-03-07T00:00:00.000000000',
       '2024-03-06T00:00:00.000000000', '2024-03-05T00:00:00.000000000',
       '2024-03-04T00:00:00.000000000', '2024-03-03T00:00:00.000000000',
       '2024-03-02T00:00:00.000000000', '2024-03-01T00:00:00.000000000',
       '2024-02-29T00:00:00.000000000', '2024-02-28T00:00:00.000000000',
       '2024-02-27T00:00:00.000000000', '2024-02-26T00:00:00.000000000',
       '2024-02-25T00:00:00.000000000', '2024-02-24T00:00:00.000000000',
       '2024-02-23T00:00:00.000000000', '2024-02-22T00:00:00.000000000',
       '2024-02-21T00:00:00.000000000', '2024-02-20T00:00:00.000000000',
       '2024-02-19T00:00:00.000000000', '2024-02-18T00:00:00.000000000',
       '2024-02-17T00:00:00.000000000', '2024-02-16T00:00:00.000000000',
       '2024-02-15T00:00:00.000000000', '2024-02-14T00:00:00.000000000',
       '2024-02-13T00:00:00.000000000', '2024-02-12T00:00:00.000000000',
       '2024-02-11T00:00:00.000000000', '2024-02-10T00:00:00.000000000',
       '2024-02-09T00:00:00.000000000', '2024-02-08T00:00:00.000000000',
       '2024-02-07T00:00:00.000000000', '2024-02-06T00:00:00.000000000',
       '2024-02-05T00:00:00.000000000', '2024-02-04T00:00:00.000000000',
       '2024-02-03T00:00:00.000000000', '2024-02-02T00:00:00.000000000',
       '2024-02-01T00:00:00.000000000', '2024-01-31T00:00:00.000000000',
       '2024-01-30T00:00:00.000000000', '2024-01-29T00:00:00.000000000',
       '2024-01-28T00:00:00.000000000', '2024-01-27T00:00:00.000000000',
       '2024-01-26T00:00:00.000000000', '2024-01-25T00:00:00.000000000',
       '2024-01-24T00:00:00.000000000', '2024-01-23T00:00:00.000000000',
       '2024-01-22T00:00:00.000000000', '2024-01-21T00:00:00.000000000',
       '2024-01-20T00:00:00.000000000', '2024-01-19T00:00:00.000000000',
       '2024-01-18T00:00:00.000000000', '2024-01-17T00:00:00.000000000',
       '2024-01-16T00:00:00.000000000', '2024-01-15T00:00:00.000000000',
       '2024-01-14T00:00:00.000000000', '2024-01-13T00:00:00.000000000',
       '2024-01-12T00:00:00.000000000', '2024-01-11T00:00:00.000000000',
       '2024-01-10T00:00:00.000000000', '2024-01-09T00:00:00.000000000',
       '2024-01-08T00:00:00.000000000', '2024-01-07T00:00:00.000000000',
       '2024-01-06T00:00:00.000000000', '2024-01-05T00:00:00.000000000',
       '2024-01-04T00:00:00.000000000', '2024-01-03T00:00:00.000000000',
       '2024-01-02T00:00:00.000000000', '2024-01-01T00:00:00.000000000',
       '2023-12-31T00:00:00.000000000', '2023-12-30T00:00:00.000000000',
       '2023-12-29T00:00:00.000000000', '2023-12-28T00:00:00.000000000',
       '2023-12-27T00:00:00.000000000', '2023-12-26T00:00:00.000000000',
       '2023-12-25T00:00:00.000000000', '2023-12-24T00:00:00.000000000',
       '2023-12-23T00:00:00.000000000', '2023-12-22T00:00:00.000000000',
       '2023-12-21T00:00:00.000000000', '2023-12-20T00:00:00.000000000',
       '2023-12-19T00:00:00.000000000', '2023-12-18T00:00:00.000000000',
       '2023-12-17T00:00:00.000000000', '2023-12-16T00:00:00.000000000',
       '2023-12-15T00:00:00.000000000', '2023-12-14T00:00:00.000000000',
       '2023-12-13T00:00:00.000000000', '2023-12-12T00:00:00.000000000',
       '2023-12-11T00:00:00.000000000', '2023-12-10T00:00:00.000000000',
       '2023-12-09T00:00:00.000000000', '2023-12-08T00:00:00.000000000',
       '2023-12-07T00:00:00.000000000', '2023-12-06T00:00:00.000000000',
       '2023-12-05T00:00:00.000000000', '2023-12-04T00:00:00.000000000',
       '2023-12-03T00:00:00.000000000', '2023-12-02T00:00:00.000000000',
       '2023-12-01T00:00:00.000000000', '2023-11-30T00:00:00.000000000',
       '2023-11-29T00:00:00.000000000', '2023-11-28T00:00:00.000000000',
       '2023-11-27T00:00:00.000000000', '2023-11-26T00:00:00.000000000',
       '2023-11-25T00:00:00.000000000', '2023-11-24T00:00:00.000000000',
       '2023-11-23T00:00:00.000000000', '2023-11-22T00:00:00.000000000',
       '2023-11-21T00:00:00.000000000', '2023-11-20T00:00:00.000000000',
       '2023-11-19T00:00:00.000000000', '2023-11-18T00:00:00.000000000',
       '2023-11-17T00:00:00.000000000', '2023-11-16T00:00:00.000000000',
       '2023-11-15T00:00:00.000000000', '2023-11-14T00:00:00.000000000',
       '2023-11-13T00:00:00.000000000', '2023-11-12T00:00:00.000000000',
       '2023-11-11T00:00:00.000000000', '2023-11-10T00:00:00.000000000',
       '2023-11-09T00:00:00.000000000', '2023-11-08T00:00:00.000000000',
       '2023-11-07T00:00:00.000000000', '2023-11-06T00:00:00.000000000',
       '2023-11-05T00:00:00.000000000', '2023-11-04T00:00:00.000000000',
       '2023-11-03T00:00:00.000000000', '2023-11-02T00:00:00.000000000',
       '2023-11-01T00:00:00.000000000', '2023-10-31T00:00:00.000000000',
       '2023-10-30T00:00:00.000000000', '2023-10-29T00:00:00.000000000',
       '2023-10-28T00:00:00.000000000', '2023-10-27T00:00:00.000000000',
       '2023-10-26T00:00:00.000000000', '2023-10-25T00:00:00.000000000',
       '2023-10-24T00:00:00.000000000', '2023-10-23T00:00:00.000000000',
       '2023-10-22T00:00:00.000000000', '2023-10-21T00:00:00.000000000',
       '2023-10-20T00:00:00.000000000', '2023-10-19T00:00:00.000000000',
       '2023-10-18T00:00:00.000000000'], dtype='datetime64[ns]')

# Number of songs containing explicit words
of all the songs played,
a total of 9084 songs containing the words explicit and 
272 which does not contain the word explicit

In [26]:
df_id.is_explicit.value_counts()

False    9084
True      272
Name: is_explicit, dtype: int64

## check the daily_rank column  
The purpose of this check is to ensure that even though the daily_rank column does not have a null value, there is a possibility that the data filled in is not appropriate, such as there being the same ranking on the same day.

all data in the daily_rank column is filled in properly, namely 1-50 per day

In [27]:
# look for numbers that are not in the daily_rank column
# Check rankings that may be missing or non-existent
for snapshot_date in df_id['snapshot_date'].unique():
    daily = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
    
    aa = df_id[df_id.snapshot_date==pd.Timestamp(snapshot_date)]

    diff = set(aa.daily_rank.to_list()).difference(set(daily))
    print(diff)

set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()

In [28]:
df_id.columns

Index(['spotify_id', 'Songs', 'artists', 'daily_rank', 'daily_movement',
       'weekly_movement', 'country', 'snapshot_date', 'popularity',
       'is_explicit', 'duration_ms', 'album_name', 'album_release_date',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'time_signature'],
      dtype='object')

# explore songs that are at daily_rank 1

songs that get daily ranking 1:

    penjaga hati for     145 days
	drunk text for        25 days
	End of Beginning for  14 days
	Tak Dianggap for       3 days
    
    
penjaga hati song appeared with the highest daily ranking of 1, namely for 145 days

the song penjaga hati was released on 06-21-2023 but can still get daily ranking 1 in 2024

sequentially starting from the date the data was taken on 10-18-2023 to 03-13-2024 except on 03-05-2024 and 03-06-2024 which did not get a daily_rank of 1

In [ ]:
daily_rank_1= df_id[df_id['daily_rank'] == 1]

songs_daily_rank_1 = df_id.groupby(['snapshot_date','Songs','album_release_date', daily_rank_1['daily_rank']]).size().reset_index().rename(columns={0:'jumlah'})
# songs_daily_rank_1.sort_values(by ='snapshot_date', ascending=False).head(26)

In [ ]:
groupby_songs_daily_rank_1 =songs_daily_rank_1.groupby('Songs').size().reset_index().rename(columns={0:'Amount'}).sort_values('Amount',ascending=False)
display(groupby_songs_daily_rank_1)

def lagu_daily_rank_1(song):
    music = daily_rank_1[(daily_rank_1['Songs'] == song)]
    print('album_release_date',music.album_release_date.head(1),'\n')
    print(music.snapshot_date.unique())
    
    
lagu_daily_rank_1('penjaga hati')

.




THE TENDENCY OF EACH RANKING 1 SONG IS TOWARDS A PARTICULAR GENRE
  
- 'penjaga hati'  song tend to be in the acoustic genre

- 'Drunk Text'  song tend to be acoustic and danceable

- 'End of Beginning'  song tend to fall into the valence and danceability genres

- 'tak dianggap'  song tend to fall into the acousticness and danceability genres

In [ ]:
for i in groupby_songs_daily_rank_1.Songs.to_list():
    print('\nSONG : ', i.upper())
    print('-'*30)
    display(df_id[df_id['Songs']==i].sort_index().head(1)[['danceability','energy','acousticness','valence','popularity']])

# Explore songs that are in the popularity 100

- there is 1 song that is popular and contains the explicit word, namely greedy, and has been played 30 times
- there are 2 popular and non-explicit songs, namely Cruel Summer played 18 times, End of Beginning 2 times

In [ ]:
# songs that are popular and contain explicit words

true_explicit =df_id[(df_id.is_explicit==True) & (df_id.popularity==100)]
print('jumlah lagu yang populer dan eksplicit\n', true_explicit.Songs.value_counts(), '\n')
print(true_explicit[['snapshot_date','Songs']])


# popular and non-explicit songs

false_explicit = df_id[(df_id.is_explicit==False) & (df_id.popularity==100)]
print('\njumlah lagu yang populer dan non-eksplicit\n', false_explicit.Songs.value_counts())
print('\n',false_explicit[['snapshot_date','Songs']])

In [ ]:
# genre yang dimiliki oleh lagu yang mendapatkan kepopuleran 100 
genre_popularity_100 = df_id[df_id.popularity==100]
for song in genre_popularity_100['Songs'].unique():
    display(genre_popularity_100[genre_popularity_100['Songs'] == song].head(1)[['artists','Songs','danceability', 'energy', 'valence']])

.

On average, songs that are in the highest popularity (100) are more dominant towards energetic songs. Usually energetic tracks feel fast, loud and noisy. For example, death metal has high energy and valence, namely the positivity the music conveys, such as happiness or cheerfulness.

In [ ]:
# average popular song per genre
mean = genre_popularity_100.groupby('artists').agg(
{
    'danceability': 'mean',
    'energy' : 'mean',
    'valence' : 'mean',
    'acousticness' : 'mean'
})
print(mean)

mean.mean()

# correlation between the features

There are 3 features that appear to have the most correlation
- is_explicit - speechiness = 0.6 to 0.8
- energy - valence = 0.6 to 0.8
- energy - loudness = 0.8 to 1.0

In [ ]:
sns.heatmap(df_id.corr())

## Genre : danceability, energy and valence selama di indonesia

In the last few months there has been an increase in song playback with a level of danceability (mid of month 3 - end of month 4) followed by a decrease in energy level, there were 4 times when there was an increase in danceability and the highest value of danceability occurred on 11-4-2024:        


1. 2024-03-23 
    - danceability: 0.550720    
    - energy: 0.492220
    - valence: 0.386300
   

 
2. 2024-03-30  
    - danceability :0.550400 
    - energy: 0.491000    
    - valence :0.384040
           


3. 2024-04-09         
    - danceability: 0.551300   
    - energy: 0.484840
    - valence: 0.374340
           

4. 2024-04-11 
    - danceability : 0.553000
    - energy: 0.479780
    - valence: 0.371040

In [ ]:
time_series =df_id.groupby(['snapshot_date']).agg({
    'danceability': 'mean',
    'energy' : 'mean',
    'valence' : 'mean',
})
id_time_series = time_series.sort_index()
#print(id_time_series.head())

id_time_series.plot(
    y =['danceability', 'energy', 'valence'],
    color = ['blue', 'green', 'red'],
linestyle= '-', marker= 'o',
figsize =(30,20),
title = 'danceability, energy and valence over time in the indonesia',
xlabel = 'snapshotDate', ylabel='value')

plt.grid(True)
plt.legend(loc='upper right')
plt.show()

In [ ]:
# increase in playability of songs with danceability level (mid month 3 - end of month 4)
print(id_time_series.tail(60))